node_modules
.env

#Hardhat files
cache
artifacts/build-info
frontend/*
subgraph/subgraph.yaml
build
.openzeppelin/unknown-*.json
.openzeppelin/migration-complete.json
*.dbg.json
flat.sol
dist
.vscode