NODE_ENV=development
OPENALEX_API_KEY=

# Runtime configuration (CLI flags also available)
## OA event filter, either 'created' or 'updated'
QUERY_TYPE=
## OA time filter, format ISO8601 (YYYY-MM-DD). Always treated as UTC.
QUERY_FROM=
QUERY_TO=
QUERY_SCHEDULE=''
SKIP_LOG_WRITE=
MAX_PAGES_TO_FETCH=

# Local development
NODE_ENV=production
PG_HOST=localhost
PG_PORT=5438
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_NO_SSL=true
DATABASE_URL=postgresql://postgres:postgres@localhost:5438/postgres?schema=openalex
