# API token from nodes user profile
NODES_API_TOKEN=
# Private key used to make publishes
PUBLISH_PKEY=
# Select target env: local, dev, prod
ENV=
# ID of creating user (for journal import routes, needs to be role CHIEF EDITOR)
USER_ID=
# The ID of the journal to import to
JOURNAL_ID=

# IJ attestation ID, differs in DB between envs
## local:
# IJ_ATT_ID=
# OC_ATT_ID=
## dev:
#IJ_ATT_ID=298
#OC_ATT_ID=102
