# build.yml
on:
  # pull_request:
  #   paths:
  #   - desci-server/**
  push:
    paths:
      - .github/workflows/**
      - desci-server/**
      - desci-contracts/**
      - sync-server/**
      - integrationTestRunner.sh
      - docker-compose.test.yml

name: Test desci-server

jobs:
  build-and-test:
    runs-on: blacksmith-4vcpu-ubuntu-2204

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      # Enable blacksmith docker layer caching
      #- uses: useblacksmith/setup-docker-builder@v1

      - name: Pre-pull ceramic-one image
        run: |
          docker pull public.ecr.aws/r5b3e0r5/3box/ceramic-one:0.56.0 || echo "Pull failed, will retry during docker-compose"

      - name: Run tests
        run:
          SKIP_NODES_LIB=1 ./integrationTestRunner.sh
